nav
    background-color #0086a5
    z-index 5  
.navbar
    font-family 'Roboto', sans-serif
    .navbar-brand
        a
            font-size 3rem
        span
            color #d6ca3f
            font-weight 600
.navbar-nav
    .nav-item
        .nav-link
            color white
            .active
                transform rotate(180deg)
                transition-duration 0.9s
        span
            font-size 18px
            font-weight 300
        .dropdown-menu
            right 0px !important 
            left auto
        .fa-cog
             font-size 18px
        .fa-user-circle
            font-size 30px