.container
    background #f1f1f1
    display block
    width auto
    margin-left 240px
    padding 20px 20px 10px
    transition margin 0.2s ease-in-out
.row
    margin-bottom 20px
    .card-body
        box-shadow 1px 2px 2px grey
        background #fff
        margin-bottom 1rem
        border-radius 0.625rem
        padding 15px
        display flex
        cursor pointer
        align-items center
        justify-content space-between       
        .content           
        .text-primary,.fa-atlassian,.fa-receipt
            color #4d80bf
        .text-danger,.fa-bars
            color #c54040
        .text-success,.fa-file
            color #85b151
        .text-purple,.fa-directions
            color #ab8ce4
        .text-pink,.fa-medal
            color #ce6acb
        .text-lightgreen,.fa-flag
            color #72ccc4
        .icon           
            font-size 2rem
    .card-text
        color #828282
        font-size 1rem