.nav
    background #0086a5 !important  
.navbar
    font-family 'Roboto', sans-serif
    .navbar-brand
        a
            font-size 2rem
        span
            color #d6ca3f
            font-size 2rem
.navbar-nav
    .nav-item
        .nav-link
            color white
            .active
                transform rotate(180deg)
                transition-duration 0.9s
        span
            font-size 18px
            font-weight 300
        .dropdown-menu
            right 0px !important 
            left auto
        .fa-cog
             font-size 18px
        .fa-user-circle
            font-size 30px
    


        
           
    
        
             

            
               

            
