<nav class="navbar navbar-expand-sm navbar-light text-light" style="background-color: #0086a5">
    <a class="navbar-brand">Akrivia <span>HCM</span></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  text-light">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">            
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown">
                    <i class="fas fa-sign-in-alt mr-2"></i>
                    <Span>switch</Span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">User</a>
                    <a class="dropdown-item" href="#">H.R</a>
                    <a class="dropdown-item" href="#">F.M</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fas fa-cog"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown"><i class="fas fa-user-circle"></i></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="fas fa-sign-in-alt text-light"></i><span>Logout</span></a>
                </div>
            </li>
        </ul>
    </div>
</nav>