.footer
    background #fff
    padding 10px 20px
    bottom 0
    box-shadow 0 0 10px 0 rgba(33,33,33,0.2)
    display flex
    justify-content space-between
    z-index 101
    .container
        max-width 760px
        margin-left 240px
        a
           color #4d80bf
    