.sidebar
    width 250px
    float left
    
    .sidebar-contents
        .leaf
            color #51586a
            background transparent
            font-size 30px
        form
            position relative
            .search
                position absolute
                right 0px
                bottom 5px
                color #51586a
        .sidebar-menu
            list-style-type none
            .sidebar-item1 
                color #51586a
                letter-spacing 1px
                font-weight normal
            .sidebar-items                
                .sidebar-link
                    color #cfd2da
                    display block
                    padding 8px 9px
        hr
            background #51586a
