<div class="sidebar mx-5">
    <div class="sidebar-contents">
        <button class="leaf border-0"><i class="fas fa-leaf"></i></button>
        <form>
            <input type="text" placeholder="Search..." class="form-control bg-transparent border-0 mb-1">
            <button class="search border-0 bg-transparent"><span><i class="fas fa-search"></i></span></button>
        </form>
        <ul class="sidebar-menu p-0">
            <li class="sidebar-item1">Dashboards</li>
            <li class="sidebar-items"><a class="sidebar-link" href="">Overview</a></li>
            <li class="sidebar-items"><a class="sidebar-link" href="">Overview</a></li>
            <li class="sidebar-items"><a class="sidebar-link" href="">Overview</a></li>
            <li class="sidebar-items"><a class="sidebar-link" href="">Overview</a></li>
            <li class="sidebar-item1">Menu</li>
            <li class="sidebar-items"><a class="sidebar-link" href="">Overview</a></li>
            <li class="sidebar-items"><a class="sidebar-link" href="">Overview</a></li>
            <li class="sidebar-items"><a class="sidebar-link" href="">Overview</a></li>
            <li class="sidebar-items"><a class="sidebar-link" href="">Overview</a></li>
        </ul>
        <hr>
    </div>
</div>