
<div class="sidebar">
            <ul class="sidebar-menu p-0 ml-4 scrollbar" id="style-4" >              
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Dashboard</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Employee management</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Time & Attendance</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Off boarding</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Holiday calender</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">HR assistant</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Visitor management</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Recruitement</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Apprisals</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Training management</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Assets</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Custom Report Generator</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Canteen managemnet</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Canteen managemnet</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Canteen managemnet</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Canteen managemnet</a></li>
                <li class="sidebar-items"><a class="sidebar-link p-2" href="">Canteen managemnet</a></li>
            </ul>
    </div>
