<div class="top-nav navbar-expand-sm d-md-block d-none">
    <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Employee</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">On-boarding</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Add employee</a>
                <a class="dropdown-item" href="#">Bulk upload</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Approve request</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Access Management</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Unblock employee</a>
                <a class="dropdown-item" href="#">Locked accounts</a>
            </div>
        </li>
    </ul>
</div>
