.container
    background #f1f1f1
    display block
    width auto
    margin-left 240px
    padding 20px 20px 10px
    transition margin 0.2s ease-in-out
.top-nav
    border-radius 8px
    box-shadow 1px 2px 3px grey
    background white
    margin-top 10px
    .navbar-nav
        margin 0px
        margin-bottom 20px        
        .nav-item
            border-right 1px solid grey
        .nav-item:last-child
            border-right none
        .nav-item 
            .nav-link
                color #656565
            .nav-link:hover
                color white
                background #0086a5
                transition 0.9s