<!-- <div class="sidebar">
    <h1 class="ml-4 text-danger"><i class="fab fa-asymmetrik"></i>argon</h1>
    <ul class="sidebar-menu p-0 ml-4 scrollbar" id="style-4" >              
        <li class="sidebar-items"><a class="sidebar-link p-2" href=""><i class="mr-3 fas fa-tv"></i>Dashboard</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href=""><i class="mr-3 fas fa-atlas"></i>Icons</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href=""><i class="mr-3 fas fa-map-marker"></i>Maps</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href=""><i class="mr-3 fas fa-user-tie"></i>User profile</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href=""><i class="mr-3 fas fa-list-ul"></i>Tables</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href=""><i class="mr-3 fas fa-key"></i>Log in</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href=""><i class="mr-3 fas fa-user-circle"></i>Register</a></li>
        <li class="sidebar-items"><hr class="mr-4"><h5 class="doc">Documentation</h5></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href=""><i class="mr-3 fas fa-rocket"></i>Getting started</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href=""><i class="mr-3 fas fa-palette"></i>Foundation</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href=""><i class="mr-3 fas fa-recycle"></i>Components</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href="">Components</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" href="">Components</a></li>
    </ul>
</div> -->
