.sidebar
    width 18%
    float left 
    border-right  1px solid white
    box-shadow 1px 2px 3px grey
    background #fff
    .sidebar-menu
        list-style-type none
        .doc
            font-size 1rem
            color #48b2e4
        .sidebar-items
            .sidebar-link
                color #797978
                display block