<app-header></app-header>
<div class="content">
<app-sidebar></app-sidebar>
  <div class="container">
    <app-page-container></app-page-container>
    <div class="content1">
    <app-exit-process></app-exit-process>
    <div class="row">
      <div class="col-md-12">
          <div class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="text-success mr-auto d-flex"><i class="fas fa-exclamation-triangle mr-2 "></i><h6>Pending Request</h6></div>            
              <div>
                <form class="form-inline my-2 my-lg-0">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
                  <input class="form-control mr-sm-2" type="search" placeholder="Search">
                </form>
              </div>
            </div>
            <div class="card-body"> 

            </div>
      </div>
    </div>
</div>
</div>
</div>