.content
    height auto 
    min-height calc(100% - 65px)
    position relative
    background #f1f1f1
    .container
        background #f1f1f1
        display block
        width auto
        margin-left 240px
        padding 20px 20px 50px
        position static
        transition margin 0.2s ease-in-out
.row
    .navbar
        box-shadow 1px 2px 2px grey
    .card-body
        min-height 200px
        background white
        box-shadow 1px 2px 2px grey

        