<div class="sidebar">
    <ul class="sidebar-menu p-0 pb-5 scrollbar" id="style-4" >              
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-tachometer-alt icon"></i>Dashboard</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" [routerLink]="['/page-container']"><i class="fa fa-users icon"></i>Employee management</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" [routerLink]="['/time-attendance']"><i class="fas fa-clock icon"></i>Time & Attendance</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-calendar-alt icon"></i>Leave system</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" [routerLink]="['/off-boarding']"><i class="fas fa-sign-out-alt icon"></i>Off boarding</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-calendar-check icon"></i>Holiday calender</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-headset icon"></i>HR assistant</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-user-tie icon"></i>Visitor management</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-user-graduate icon"></i>Recruitement</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-chart-line icon"></i>Apprisals</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-clipboard icon"></i>Approvals</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-chalkboard-teacher icon"></i>Training management</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-box-open icon"></i>Assets Management</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-cogs icon"></i>Custom Report Generator</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-hotel icon"></i>Canteen managemnet</a></li>
        <li class="sidebar-items"><a class="sidebar-link p-2" ><i class="fas fa-cogs icon"></i>Work flow</a></li>
    </ul>
</div>
