<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-header></app-header> -->
<div class="container mt-4">
    <!-- <div class="col-4">
        <div class="card">
            <div class="chat-box">
                <span class="chat-box-title">Direct Chat</span>
                <div>
                    <span class="chat-box-icon">3</span>
                    <span class="chat-box-icon"><i class="fa fa-minus"></i></span>
                    <span class="chat-box-icon"><i class="fa fa-comments"></i></span>
                    <span class="chat-box-icon"><i class="fas fa-times"></i></span>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
    <div class="smiley">
        <span></span>
    </div>
    <div class="smiley-sad">
        <span></span>
    </div>

</div>
    <div class="pagination">
        <ul class="page-menu">
            <li class="page-menu-num">1</li>
            <li class="page-menu-num">2</li>
            <li class="page-menu-num">3</li>
            <li class="page-menu-num">4</li>
            <li class="page-menu-num">5</li>
            <li class="page-menu-num">6</li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
