.page-container
    width 700px;
    float left
    .page-header
        h6
            color #51586a
            letter-spacing 1px
            font-weight normal
    .head
        h1
            float left
        .datepicker
            width 200px
            float right
hr
    background #51586a
    