<div class="row">
        <div class="col-md-3 col-sm-6">
              <div class="card-body">
                <div class="content"><h4 class="card-title text-primary">0</h4>
                <p class="card-text">1.pending requests</p></div>
                <div class="icon"><i class="fab fa-atlassian"></i></div>
              </div>
            </div>          
            <div class="col-md-3 col-sm-6">      
                      <div class="card-body">
                        <div class="content"><h4 class="card-title text-danger">0</h4>
                        <p class="card-text">2.Exit surveys</p></div>                   
                        <div class="icon"><i class="fas fa-bars"></i></div> 
                        </div>
                      </div>                    
                    <div class="col-md-3 col-sm-6">
                            <div class="card-body">
                                <div class="content"><h4 class="card-title text-success">0</h4>
                                <p class="card-text">3.Assets Handover</p></div>
                                <div class="icon"><i class="fas fa-file"></i></div>
                              </div>
                            </div>                            
                            <div class="col-md-3 col-sm-6">
                      
                                      <div class="card-body">
                                        <div class="content"><h4 class="card-title text-primary">6</h4>
                                        <p class="card-text">4.Clearance</p></div>
                                        <div class="icon"><i class="fas fa-receipt"></i></div>
                                      </div>
                                    </div>                                                                               
                            <div class="col-md-3 col-sm-6">
                      
                                      <div class="card-body">
                                        <div class="content"><h4 class="card-title text-purple">1</h4>
                                        <p class="card-text">5.Relieve</p></div>
                                        <div class="icon"><i class="fas fa-directions"></i></div>
                                      </div>
                                    </div>                                    
                                    <div class="col-md-3 col-sm-6">
                              
                                              <div class="card-body">
                                                <div class="content"><h4 class="card-title text-pink">1</h4>
                                                <p class="card-text">6.certificate generation</p></div>
                                                <div class="icon"><i class="fas fa-medal"></i></div>
                                              </div>
                                            </div>                                            
                                            <div class="col-md-3 col-sm-6">
                                      
                                                      <div class="card-body">
                                                        <div class="content"><h4 class="card-title text-lightgreen">5</h4>
                                                        <p class="card-text">7.Final settlement</p></div>
                                                        <div class="icon"><i class="far fa-flag"></i></div>
                                                      </div>
                                                    </div>
                                                   
    </div>
