nav
    .navbar             
        .title
            font-family inherit
        form
            input
                border-radius 25px
            .fa-user-circle
                font-size 2.5rem
    
            
            